.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.username {
    font-size: 1.2em;
    font-weight: bold;
    color: #091829;
}

.postsContainer {
    height: calc(100% - 4.5em);
}

.spinnerContainer {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: .4em;
}