.avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: .4em;
}

.username {
    font-size: 1.2em;
    font-weight: bold;
    color: #091829;
}

.row {
    margin-bottom: .3em;
}

.row.deleted {
    opacity: .5;
}