.input {
    width: 75%;
    height: 100%;
    font-size: .8em;
    border-radius: 0.7em;
    padding: 0.2em 0.3em 0.3em;
}

.button {
    width: 6em;
    margin: 0;
}

.form {
    max-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}